.arrows
	$green: #27ec7b

	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	pointer-events: none
	box-sizing: border-box

	svg
		position: absolute
		top: 0
		left: 0

	path
		stroke-width: 2
		&:hover
			cursor: pointer

	circle
		fill: $green
		stroke-width: 2px
		r: 4px

	&__new
		z-index: 1000

	.arrow
		&__stack, &__heap
			&:hover
				circle
					cursor: pointer
			.arrow--selected
				stroke: $green

		&__stack 
			path, circle
				stroke: $dark-blue

		&__heap	
			path, circle
				stroke: $dark-red

