.heap
	$heap-object-start: $red-start
	$heap-object-end: $red-end

	display: flex
	flex-direction: column
	overflow: hidden

	&__objects
		padding: 20px
		overflow-y: auto
		text-align: center

		p
			padding-top: 10px
			max-width: 75%
			margin: 0 auto
			line-height: 24px

		& > button
			color: black
			width: 100%
			background: none
			border: none
			font-size: 18px
			font-weight: bold
			text-decoration: underline
			margin: 10px 0 30px 0

		& .object
			background: linear-gradient(180deg, $heap-object-start 0%, $heap-object-end 100%)
