@import 'components/App/app'
@import 'components/Stack/stack'
@import 'components/Heap/heap'
@import 'components/Header/header'
@import 'components/Object/object'
@import 'components/Variable/variable'

.variable
	&:not(:last-child)
		margin-bottom: 20px

button
	background: none
	border: none
	&:hover
		cursor: pointer
	&:active
		opacity: .8
	&:focus
		outline: none