//==================================
// VARIABLES
//==================================
	
$red-start: #EE4848
$red-end: #D93333
$dark-red: #571C1C

$blue-start: #606EED
$blue-end: #3747DB
$dark-blue: #1E2458

$grey-start: #9F9F9F
$grey-end: #777777
$dark-grey: #353535
	
//==================================
// IMPORTS
//==================================

@import 'components/App/app'
@import 'components/Header/header'
@import 'components/Region/stack'
@import 'components/Region/heap'
@import 'components/Object/object'

//==================================
// GENERAL STYLES
//==================================

button
	display: flex
	background: none
	border: none
	&:hover
		cursor: pointer
	&:active
		opacity: .8
	&:focus
		outline: none

@keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 1