.stack
	$stack-object-start: $blue-start
	$stack-object-end: $blue-end
	$stack-object-dark: $dark-blue

	.object
		background: linear-gradient(180deg, $stack-object-start 0%, $stack-object-end 100%)
		box-shadow: 0 4px 4px transparentize($stack-object-end, .75)

		&:not(:last-child)
			margin-bottom: 10px

		&__variable__value
			color: $stack-object-dark
			&::placeholder
				color: $stack-object-dark

		svg
			.outer
				// stroke: $stack-object-dark
				stroke: $black
			.inner
				// fill: $stack-object-dark
				fill: $black